*{box-sizing:border-box}
.container{
	width: 300px;
	overflow: hidden;
	margin: 50px auto 0 auto;
	}
.container .box{
	float: left;
	width: 100px;
	height: 100px;
	border:1px solid #000;
	transition: all .25s ease-in-out;
	font-family: sans-serif;
    cursor:pointer;
	font-size:85px;
	text-align:center;
	}
.container .box:hover{
	background:rgb(10,10,10,0.5);
	color: #fff;
	}
button{
	background:#26c281;
	color:#fff;
	font-weight:bold;
	border: 1px solid yellow;
	cursor:pointer;
	width:160px;
	height: 35px;
	font-size:22px;
	display:block;
	margin: 10px auto;
	}
